a{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    padding: 10px;
    margin: 5px;
    font-size: 1.2rem;
    transition:  1s all;
}
a:hover{
    background-color: cornflowerblue;
    border-radius: 7px;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
.search{
    cursor: pointer;
    font-size: 1.2rem;
}
h4{
    font-family: 'Courier New', Courier, monospace;font-weight: bolder;

}
h5{
    font-weight: bolder;font-size: 9px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    position: sticky;z-index: 999;
}
body{
    z-index: 1;
}
    